{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1>{{ _('Register Admin User') }}</h1>
        <br>
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}<br>
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.is_admin() }} {{ form.is_admin.label }}</p>
            <p>{{ form.submit(class="btn btn-success") }}</p>
            
        </form>

        <h4>Go back to the <a class="" href="{{ url_for('admin.index') }}">{{ _('Admin Dashboard') }}</a></h4>
    </div>

{% endblock %}